<div class="card w-full bg-base-100 shadow-2xl border border-fr-taupe/10 backdrop-blur-md">
  <div class="card-body p-6 lg:p-10">
    <div class="mb-6">
      <h2
        class="font-display text-4xl lg:text-5xl text-fr-gold tracking-wider uppercase leading-none"
      >
        Iniciar Sesión
      </h2>
      <div class="h-1 w-10 bg-fr-brown mt-1"></div>
      <p
        class="font-sans text-fr-taupe text-[11px] mt-3 font-semibold uppercase tracking-wider opacity-80"
      >
        Gestión de Trámites & Workflow para Equipos Ágiles
      </p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="ON_SUBMIT()" class="space-y-4">
      <div class="form-control w-full">
        <label class="label py-1">
          <span class="label-text text-fr-taupe uppercase text-[9px] font-black tracking-[0.2em]">
            Correo Electrónico
          </span>
        </label>
        <input
          type="email"
          formControlName="email"
          placeholder="usuario@flowroad.com"
          class="input input-bordered w-full bg-transparent border-fr-gray/30 focus:border-fr-gold text-fr-brown transition-all duration-300"
        />

        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
          <span class="text-fr-brown text-[9px] mt-1 font-bold uppercase italic tracking-tighter">
            Email no válido
          </span>
        }
      </div>

      <div class="form-control w-full">
        <label class="label py-1">
          <span class="label-text text-fr-taupe uppercase text-[9px] font-black tracking-[0.2em]">
            Contraseña
          </span>
        </label>
        <div class="relative w-full">
          <input
            [type]="SHOW_PASSWORD() ? 'text' : 'password'"
            formControlName="password"
            placeholder="••••••••"
            class="input input-bordered input-sm h-11 w-full bg-transparent border-fr-gray/30 focus:border-fr-gold text-fr-brown transition-all duration-300 pr-10"
          />

          <button
            type="button"
            (click)="TOGGLE_PASSWORD()"
            class="absolute right-3 top-1/2 -translate-y-1/2 text-fr-taupe/50 hover:text-fr-gold transition-colors focus:outline-none"
          >
            @if (SHOW_PASSWORD()) {
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.036 12.322a1.012 1.012 0 0 1 0-.644C3.67 8.5 7.652 4.5 12 4.5c4.348 0 8.332 4 9.964 7.178.07.135.07.279 0 .414C20.332 15.5 16.348 19.5 12 19.5c-4.348 0-8.332-4-9.964-7.178Z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
              </svg>
            } @else {
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"
                />
              </svg>
            }
          </button>
        </div>
      </div>

      @if (ERROR_MSG()) {
        <div class="text-center">
          <span
            class="text-fr-brown text-[10px] font-black uppercase italic tracking-widest animate-pulse"
          >
            {{ ERROR_MSG() }}
          </span>
        </div>
      }

      <div class="card-actions pt-2">
        <button
          type="submit"
          [disabled]="loginForm.invalid || IS_LOADING()"
          class="btn w-full font-sans border-none text-white font-bold uppercase tracking-widest bg-fr-taupe hover:bg-fr-gold hover:text-fr-black transition-all duration-500 disabled:opacity-50"
        >
          @if (IS_LOADING()) {
            <span class="loading loading-spinner loading-xs"></span>
            PROCESANDO...
          } @else {
            Iniciar Sesión
          }
        </button>
      </div>
    </form>

    <div
      class="divider before:bg-fr-taupe/10 after:bg-fr-taupe/10 text-[9px] text-fr-taupe/50 font-bold tracking-[0.3em] my-6 uppercase"
    >
      Acceso Seguro
    </div>

    <div class="text-center">
      <p class="text-[10px] text-fr-taupe font-medium uppercase tracking-widest">
        ¿No tienes una cuenta?
        <a
          class="text-fr-gold cursor-pointer hover:text-fr-brown transition-colors font-black ml-1"
        >
          Registrarse
        </a>
      </p>
    </div>
  </div>
</div>
