:host {
    display: block;
    height: 100vh;
}

/* Scrollbar personalizado */
main::-webkit-scrollbar {
    width: 6px;
}

main::-webkit-scrollbar-track {
    background: transparent;
}

main::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
}